<div class="admin-job">
  <%= link_to("Publish a job", new_admin_job_path, class:"btn btn-primary pull-right") %>
</div>

<table class="table table-hover">
  <thead>
      <tr>
          <th> # </th>
          <th> Title </th>
          <th> Description </th>
          <th> Resume Received </th>
          <th> Wage Lower Bound </th>
          <th> Wage Upper Bound </th>
          <th> Option </th>
      </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
          <td> <%= job.id %> </td>
          <td>
            <%= render_job_status(job) %>
            <%= link_to(job.title, admin_job_path(job)) %> </td>
          <td> <%= job.description %> </td>
          <td> <%= link_to(job.resumes.count, admin_job_resumes_path(job)) %> </td>
          <td> <%= job.wage_lower_bound %> </td>
          <td> <%= job.wage_upper_bound %> </td>
          <td> <%= link_to "Edit job", edit_admin_job_path(job), class:"btn btn-sm btn-default" %>
               <%= link_to("Delete", admin_job_path(job), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-sm btn-danger") %>
               <% if job.is_hidden %>
                 <%= link_to("Publish", publish_admin_job_path(job), method: :post, class:"btn btn-sm btn-success") %>
               <% else %>
                 <%= link_to("Hide", hide_admin_job_path(job), method: :post, class:"btn btn-sm btn-warning") %>
               <% end %>
          </td>
      </tr>
    <% end %>

  </tbody>

</table>
