<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
      <div class="navbar-header">
          <a class="navbar-brand" href="/"> Job Listing </a>
      </div>

      <div class="collapse navbar-collapse ">
        <ul class="nav navbar-nav navbar-right">
            <% if !current_user %>
              <li> <%= link_to "Signup", new_user_registration_path %> </li>
              <li> <%= link_to "Login", new_user_session_path %> </li>
            <% else %>
              <li class="dropdown">
                <a href="#", class="dropdown-toggle" data-toggle="dropdown">
                  Hi!, <%= current_user.email %>
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-manu">
                  <%= link_to "Admin Panel"%>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
                </ul>
              </li>
            <% end %>
          </ul>

      </div>
  </div>
</nav>
